<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         printerFile="../../../../../src/Fab/PHPUnit/ResultPrinter.php"
         printerClass="Fab\PHPUnit\ResultPrinter"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="../../../../../vendor/autoload.php"
>

</phpunit>